* {
	font-family: roboto, Verdana, sans-serif;
}

body, h1, h2, h3, ul {
	margin: 0;
	padding: 0;
}

.logo, h1, h2 {
	color: #F9FAF8;
	font-size: 24px;
	font-weight: 900;
}

h1 {
	font-size: 48px;
}

h2 {
	color: #1F2937;
	font-size: 36px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button,
.call-to-action {
	background-color: #3882f6;
	color: #F9FAF8;
	font-size: 18px;
	font-weight: 600;
}

.set-width {
	max-width: 1200px;
}

.header,
.welcome,
.footer {
	background-color: #1F2937;
	color: #FFF;
}

.header a,
.welcome div {
	color: #E5E7EB;
	font-size: 18px;
}

.header,
.welcome,
.gallery,
.quote,
.call-to-action,
.footer {
	display: flex;
	justify-content: center;
}


.welcome img {
	max-width: 500px;
}

.pictures {
	color: #555;
}

.pictures img {
	max-width: 170px;
}

.quote {
	background-color: #E5E7EB;
	color: #1F2937;
}

.quote-content {
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
}

.quote-source {
	font-size: 24px;
	font-weight: 600;
}